* {
  margin: 0;
  box-sizing: border-box;
}
.box {
  width: 150px;
  height: 150px;
  /* float: left; */
}
.box1 {
  background-color: rgba(255, 0, 0, 0.4);
  float: left;
}
.box2 {
  background-color: #0000ff;
  float: left;
}
.box3 {
  background-color: #ffff00;
  float: left;
}
.box4 {
  background-color: #ee82ee;
  float: left;
  clear: both;
}
.box5 {
  background-color: #6495ed;
}
.box6 {
  background-color: #00008b;
}
.box7 {
  background-color: #00ff7f;
}
p {
  clear: both;
}
